#Extracting Features
opencv-python
fire
torch
accelerate
Pillow
scipy
scikit-learn
torchvision
scikit-image

#EigenVectors
pymatting

#CRF Segmentation
SimpleCRF


#eval object segmentation
hydra-core

#Visualize Semantic Segmentation
streamlit
matplotlib